---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
I was / am a lecture for the following courses:
<br>
<ul style="list-style-type:square">
  <li>INF 155  - <b>Introduction à la programmation</b>. École de technologie supérieure. 2020.</li>
  <li>INF 130  - <b>Ordinateurs et programmation</b>. École de technologie supérieure. 2020.</li>
  <li>INF 1120 - <b>Programmation I</b>.Université du Québec à Montréal. 2020.</li>
  <li>INF 3080 - <b>Bases de données</b>.Université du Québec à Montréal. 2020.</li>
  <li>BIF 7105 - <b>Méthodes statistiques en bioinformatique</b>.Université du Québec à Montréal. 2017-2020.</li>
  <li>TCH 055  - <b>Bases de données</b>. École de technologie supérieure. 2020.</li>
  <li>TCH 054  - <b>Bases de données</b>. École de technologie supérieure. 2019.</li>
  <li>BIF 4100 - <b>Introduction à la bioinformatique</b>.Université du Québec à Montréal. 2019.</li>
  <li>BIF 7101 - <b>Bioinformatique des structures</b>.Université du Québec à Montréal. 2019.</li>
  <li>BIF 7101 - <b>Bioinformatique des structures</b>.Université du Québec à Montréal. 2017-2019.</li>
  <li>INF 0326 - <b>Outils de bureautique et Internet (hors programme)</b>.Université du Québec à Montréal. 2015-2016.</li>
</ul>

I was / am a teaching assistant for the following courses:
<br>
<ul style="list-style-type:square">
  <li>INF 130 - <b>Ordinateurs et programmation</b>. École de technologie supérieure. 2020.</li>
  <li>INF 147 - <b>Programmation procédurale</b>. École de technologie supérieure. 2020.</li>
  <li>INF 111 - <b>Programmation orientée objet (hors programme)</b>. École de technologie supérieure. 2020.</li>
  <li>INF 135 - <b>Introduction à la programmation en génie mécanique</b>. École de technologie supérieure. 2020.</li>
  <li>INF 8212 - <b>Introduction aux systèmes informatiques</b>.Université du Québec à Montréal. 2014-2017.</li>  
  <li>INF 8214 - <b>Programmation avancée</b>.Université du Québec à Montréal. 2014-2017.</li>  
  <li>INF 7212 - <b>Introduction aux systèmes informatiques</b>.Université du Québec à Montréal. 2011-2014.</li>  
  <li>INF 7214 - <b>Développement de logiciels</b>.Université du Québec à Montréal. 2011-2014.</li>
  
</ul>
