---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
I was / am a teaching assistant for the following courses:
<br>
<ul style="list-style-type:square">
  <li>INF 155 - <b>Introduction à la programmation</b>. École de technologie supérieure. 2020.</li>
  <li>INF 130 - <b>Ordinateurs et programmation</b>. École de technologie supérieure. 2020.</li>
</ul>
