---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}
<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
I was / am a lecture for the following courses:
<br>
<ul style="list-style-type:square">
  <li><b>École de technologie supérieure</b></li>
  <ul style="list-style-type:square">
    <li>INF 155  - Introduction à la programmation (2020)</li>
    <li>INF 130  - Ordinateurs et programmation (2020)</li>
    <li>TCH 055  - Bases de données (2020)</li>
    <li>TCH 054  - Bases de données (2019)</li>
  </ul>
  
  <br>
  <li><b>Université du Québec à Montréal</b></li>
  <ul style="list-style-type:square">
    <li>INF 1120 - Programmation I (2020)</li>
    <li>INF 3080 - Bases de données (2020)</li>
    <li>BIF 7105 - Méthodes statistiques en bioinformatique (2017-2020)</li>
    <li>BIF 4100 - Introduction à la bioinformatique (2019)</li>
    <li>BIF 7101 - Bioinformatique des structures (2019)</li>
    <li>BIF 7101 - Bioinformatique des structures (2017-2019)</li>
    <li>INF 0326 - Outils de bureautique et Internet (hors programme) (2015-2016)</li>
  </ul>
</ul>

I was / am a teaching assistant for the following courses:
<br>
<ul style="list-style-type:square">
  <li>INF 130 - <b>Ordinateurs et programmation</b>. École de technologie supérieure. 2020.</li>
  <li>INF 147 - <b>Programmation procédurale</b>. École de technologie supérieure. 2020.</li>
  <li>INF 111 - <b>Programmation orientée objet (hors programme)</b>. École de technologie supérieure. 2020.</li>
  <li>INF 135 - <b>Introduction à la programmation en génie mécanique</b>. École de technologie supérieure. 2020.</li>
  <li>INF 8212 - <b>Introduction aux systèmes informatiques</b>.Université du Québec à Montréal. 2014-2017.</li>  
  <li>INF 8214 - <b>Programmation avancée</b>.Université du Québec à Montréal. 2014-2017.</li>  
  <li>INF 1120 - <b>Programmation I</b>.Université du Québec à Montréal. 2015.</li>
  <li>INF 3080 - <b>Bases de données</b>.Université du Québec à Montréal. 2015.</li>
  <li>INF 7212 - <b>Introduction aux systèmes informatiques</b>.Université du Québec à Montréal. 2011-2014.</li>  
  <li>INF 7214 - <b>Développement de logiciels</b>.Université du Québec à Montréal. 2011-2014.</li>
  <li>INF 4210 - <b>Introduction aux bases de données</b>.Université du Québec à Montréal. 2011-2013.</li>  
  <li>MPA 2100 - <b>Monitorat de programme</b>.Université du Québec à Montréal. 2011-2013.</li>
  <li>INF 1025 - <b>Outils de bureautique et Internet</b>.Université du Québec à Montréal. 2011.</li>
  <li>INF 3005 - <b>Programmation Web avancée</b>.Université du Québec à Montréal. 2011.</li>
  <li>INF 7213 - <b>Algorithmes et structures discrètes</b>.Université du Québec à Montréal. 2010.</li>
</ul>
